<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../assets/cover.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/etudiante.jpg"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Notre mission</h5>
        <p>Accompagner les étudiants afin de concretiser leurs projets d'étude international.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/logement.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Logement</h5>
        <p>+1000 logements étudiants trouvés</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img
          src="../../assets/etudiants.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Accompagnement</h5>
          <p>+200 étudiants accompagnés</p>
        </div>
    </mdb-carousel-item>
        <mdb-carousel-item>
            <img
              src="../../assets/satisfait.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Satisfaction</h5>
              <p>90% des étudiants sont satisfaits</p>
            </div>
          </mdb-carousel-item>
  </mdb-carousel>

<div class="container">
    <div class="card text-center">
        <div class="card-header">RPCH Consulting</div>
        <div class="card-body">
          <h5 class="card-title">Qui sommes-nous?</h5>
          <p class="card-text">
            RPCH est un organisme de soutien académique et professionel. Sa volonté est d'accompagner 
            les étudiants vers de nouveaux horizons.
          </p>
          <p class="card-text">
            RPCH simplifie les procédures d'orientation et d'admission des étudiants depuis leurs pays
             d'origine jusqu'à leur intégration dans l'établissement choisi.
          </p>
          <a href="" class="btn btn-primary"><i class="fas fa-message"></i></a>
        </div>
      </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="card mb-3 offset-md-1" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://img.freepik.com/vecteurs-libre/illustration-support-client-plat-organique_23-2148899174.jpg?size=626&ext=jpg&uid=R26917144&ga=GA1.2.498130083.1663108414"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nos services</h5>
            <p class="card-text">
              RPCH propose des services aux étudiants du monde entier qui cherchent à enrichir leurs expériences académiques et professionnelles tout en découvrant le monde.
            </p>
            <p class="card-text">
              <small class="text-muted">RPCH Consulting</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
      <div class="card mb-3 col-md-8 offset-md-2">
          <img src="https://img.freepik.com/photos-gratuite/divers-hommes-affaires-ayant-reunion_53876-103954.jpg?size=626&ext=jpg&uid=R26917144&ga=GA1.2.498130083.1663108414"class="card-img-top" alt="Wild Landscape"/>
          <div class="card-body">
            <h5 class="card-title">Notre mission</h5>
            <ul class="list-group list-group-light">
              <li class="list-group-item">Accompagner les étudiants afin de concretiser leurs projets d'étude international.</li>
              <li class="list-group-item">Apporter l'aide et les conseils pédagogiques nécessaires et adaptés aux besoins des étudiants.</li>
              <li class="list-group-item">S'occuper de toutes les démarches administratives pour promouvoir l'acceptation des étudiants auprès des établissements souhaités.</li>
            </ul>
          </div>
        </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <div class="card mb-3 col-md-8 offset-md-1">
          <img src="https://img.freepik.com/photos-premium/femme-affaires-hommes-affaires-sont-debout-leurs-mains-ensemble_151013-18345.jpg?size=626&ext=jpg&uid=R26917144&ga=GA1.2.498130083.1663108414"class="card-img-top" alt="Wild Landscape"/>
          <div class="card-body">
            <h5 class="card-title">Accompagnement</h5>
            <ul class="list-group list-group-light">
              <li class="list-group-item">Une solution logement</li>
              <li class="list-group-item">Un ccompagnement consulaire</li>
              <li class="list-group-item">Un recours visa</li>
            </ul>
          </div>
        </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card mb-3 offset-md-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://img.freepik.com/photos-gratuite/planification-risque-strategie-concept-entreprise-jeu-affaires-placant-bloc-bois-tour_1423-10.jpg?size=338&ext=jpg&uid=R26917144&ga=GA1.2.498130083.1663108414"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Coaching et orientation</h5>
            <p class="card-text">
              Préparation de votre entretien campus France.
            </p>
            <p class="card-text">
              Nous vous orientons dans le choix de la formation.
            </p>
            <p class="card-text">
              <small class="text-muted">RPCH Consulting</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
      <div class="card mb-3 col-md-8 offset-md-1">
          <img src="https://img.freepik.com/photos-gratuite/concept-economie-tirelire-argent_23-2148525295.jpg?size=626&ext=jpg&uid=R26917144&ga=GA1.2.498130083.1663108414"class="card-img-top" alt="Wild Landscape"/>
          <div class="card-body">
            <h5 class="card-title">Financement</h5>
            <ul class="list-group list-group-light">
              <li class="list-group-item">Attestation virement irrevocable (AVI)</li>
              <li class="list-group-item">Prise en charge</li>
              <li class="list-group-item"> Recours visa</li>
            </ul>
          </div>
        </div>
  </div>
</div>


<div class="container mb-3">
    <div class="row">
        <div class="card col-md-8 offset-md-2">
          <img src="../../assets/LePdg.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Mot du Président Directeur</h5>
              <p class="card-text">
                Nous croyons que la réussite est le résultat d'un travail d'équipe. Nous tissons des liens
                seulement avec nos étudiants, mais également avec leurs parents ainsi qu'avec nos partenaires.
              </p>
              <p>
                Nous avons fait le choix d'être à l'écoute de leurs critiques, d'être en audit constant
                avec eux et nous remettre en question tout en gardant une ligne de conduite exemplaire.
              </p>
              <p>
                Nous accompagnons les étudiants et travailleurs à leurs cotés pour la réussite de leurs projets
                 internationaux. Nous nous inspirons de leurs problematiques pour faciliter leurs démarches 
                 de developper des services plus adaptés.
              </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>